<!-- Header professionnel BAMIS DIGITAL visible partout -->
<app-header></app-header>

<app-televersement-csv
  *ngIf="etapeActuelle === 'UPLOAD'"
  (fichierCharge)="onFichierCharge()">
</app-televersement-csv>

<app-liste-categories 
  *ngIf="etapeActuelle === 'SELECTION'"
  (categorieSelectionnee)="onCategorieSelectionnee($event)">
</app-liste-categories>

<div *ngIf="etapeActuelle === 'TIRAGE'" class="tirage-container">
  <app-tirage
    *ngIf="!tirageTermine"
    [categorieSelectionnee]="categorieSelectionnee"
    (gagnantRevele)="onGagnantRevele($event)"
    (tirageComplet)="onTirageComplet()">
  </app-tirage>

  <app-affichage-gagnants
    [gagnantsAffiches]="gagnantsAffiches"
    [tirageTermine]="tirageTermine"
    [tirageEnCours]="tirageEnCours"
    [categorieSelectionnee]="categorieSelectionnee"
    (gagnantSuivant)="onGagnantSuivant()"
    (pousserClient)="onPousser()"
    (retourSelection)="onRetourSelection()">
  </app-affichage-gagnants>
</div>