:host {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.tirage-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 90px);
  margin-top: 90px;
  overflow: hidden;
}